In [14]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

## Arguments

In [15]:
def my_function(fname):
    print(fname +  "Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

EmailRefsnes
TobiasRefsnes
LinusRefsnes

## Number of Arguments

In [20]:
def my_function(fname,lname):
    print(fname + " " + lname)
    
my_function("Email","Refsnes")

Email Refsnes

## Arbitrary Arguments, *args

In [27]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
    
my_function("Email","Tobias","Linus")

The youngest child is Linus

## Keyword Arguments

In [3]:
def my_function(child3,child2,child1):
    print("The youngest child is " + child3)
    
my_function(child1 = "Email",child2 = "Tobias",child3 = "Linus")

The youngest child is Linus

## Arbitrary Keyword Arguments, **kwargs

In [5]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
    
my_function(fname = "Tobias",lname = "Refsnes")

His last namr is Refsnes

## Default Parameter Value

In [6]:
def my_function(country = "Norway"):
    print("I am from "+ country)
    
my_function("Sweden")    
my_function("India")    
my_function()    
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## Passing a List as an Argument

In [7]:
def my_function(food):
    for x in food :
        print(x)
        
fruits = ["apple","banana","cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values

In [4]:
def my_function(x):
    return 5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Pass

In [5]:
def myfunction():
    pass

## Recursion

In [6]:
def tri_recursion(k):
    if(k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

## Lambda

In [8]:
x = lambda a : a+10
print(x(5))

15

In [9]:
x = lambda a,b : a*b
print(x(5,6))

30

In [10]:
x = lambda a,b,c : a*b+c
print(x(5,6,2))

32

In [11]:
def myfunc(n):
    return lambda a : a*n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [12]:
def myfunc(n):
    return lambda a : a*n

mytripler = myfunc(3)

print(mytripler(11))

33

In [13]:
def myfunc(n):
    return lambda a: a*n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [16]:
x = input("Enter username : ")
print("Username is : "+ x)

Enter username : python
Username is : python