# If...Else

## If statements

In [1]:
a = 33
b = 200
if b>a:
    print("b ia greater than a")

b ia greater than a

### Elif

In [3]:
a = 33
b = 33
if b>a :
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

### Else

In [4]:
a = 200
b = 33
if b>a :
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else :
    print("a is grester than b")

a is grester than b

In [5]:
a = 200
b = 33
if b>a :
    print("b is greater than a")
else :
    print("b is not grester than a")

b is not grester than a

### Short Hand If

In [6]:
if a>b : print("a is greater than b")

a is greater than b

### Short Hand If ... Else

In [8]:
a = 2 
b = 330
print("A") if a>b else print("B")

B

In [10]:
a = 330
b = 330
print("A") if a>b else print("=") if a == b else print("B")

=

### And

In [12]:
a =200
b =33
c =500
if a>b and c>a :
    print("Both condition are True")

Both condition are True

### Or

In [15]:
a =200
b =33
c =500
if a>b or a>c :
    print("At least one of the condition is True")

At least one of the condition is True

### Nested If

In [17]:
x = 41
 
if x > 10 : 
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else :
        print("but not above 20.")

Above ten,
and also above 20!

### The Pass Statement

In [19]:
a = 33
b = 200

if b>a:
    pass

# While

In [5]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The Break Statement

In [12]:
i = 1
while i < 6 :
    print(i)
    if (i == 3):
        break
    i += 1

1
2
3

### The Continue Statement

In [19]:
i = 0
while i < 6:
    i += 1
    if (i==3):
        continue
    print(i)

1
2
4
5
6

### The Else Statement

In [20]:
i = 1
while i<6 :
    print(i)
    i += 1
else :
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For

In [21]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

### Looping Through a String

In [22]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### The Break Statement

In [26]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [30]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

### The continue Statement

In [31]:
fruits = ["apple","banana","cherry"]
for x in fruits :
    if x == 'banana':
        continue
    print(x)

apple
cherry

### The range() Function

In [53]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [55]:
for x in range(2,6):
    print(x)

2
3
4
5

In [56]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop

In [57]:
for x in range(6):
    print(x)
else:
    print('Finally finished!')

0
1
2
3
4
5
Finally finished!

In [66]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print('Finally finished')

0
1
2

### Nested Loops

In [68]:
adj = ['red','big','tasty']
fruits = ['apple','banana','cherry']

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The Pass Statement

In [69]:
for x in [0,1,2]:
    pass

## Strings

In [1]:
print("Hell0")

Hell0

In [2]:
x = "Hello"
print(x)

Hello

In [3]:
a = """ Lorem ipsum dolor sit amet ,
consectetur adipiscing elit,
sed do eiusmod trmpor incididunt
ut labore et dolore magna aliqua."""
print(a)

 Lorem ipsum dolor sit amet ,
consectetur adipiscing elit,
sed do eiusmod trmpor incididunt
ut labore et dolore magna aliqua.

# casting

In [2]:
a = "hellow"
print(a[1])
print(a[0])
print(a[5])

e
h
w

In [2]:
a = "hellow"
print(a[1])
print(a[0])
print(a[5])

e
h
w

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [8]:
a = "Hello, World!"
print(len(a))
print(a[12])

13
!

In [10]:
t = "this is free"
print("free" in t)

True

In [16]:
t = "this is free"
if "free" in t:

    print("yes")

yes

In [17]:
t = "this is free"
if "free" not in t:

    print("yes")

In [19]:
t = "this is free"
if "free" not in t:

    print("yes")
else:
    print("no")

no

### Slicing Strings

In [30]:
s = "WELCOME to my world"
print(s[0:9])
print(s[2:8])
print(s[3:6])
print(s[7:])
print(s[:7])
print(s[-7:-3])

WELCOME t
LCOME
COM
 to my world
WELCOME
y wo

### Modify Strings

In [31]:
s = "python is awesome"
print(s.upper())

PYTHON IS AWESOME

In [41]:
s = "python is awesome"
print(s.lower())

python is awesome

In [39]:
s = "   python is awesome   "
print(s.strip())            #strip remoe whitespace

python is awesome

In [42]:
s = "python is awesome"
print(s.replace("s","p"))

python ip awepome

In [43]:
s = "python is awesome"
print(s.split())

['python', 'is', 'awesome']

### String Concatenation

In [49]:
s = "python is"
p = "awesome"
print(s+p)
print(s+" "+p)
print(s+""+p)

python isawesome
python is awesome
python isawesome

In [53]:
age = "three"
tt = ["i am " + age]
print(tt)

['i am three']

### String Format

In [59]:
age = 36
txt = "My name is john, and i am {}"
print(txt.format(age))

My name is john, and i am 36

In [60]:
age = 36
txt = " i am {}"
print(txt.format(age))

 i am 36

In [69]:
quantity = 3
itemno = 567
price = 49.95
my = "I want {2} pieces of item{0} for {1} dollars"
print(my.format(quantity,itemno,price))

I want 49.95 pieces of item3 for 567 dollars

In [71]:
quantity = 3
itemno = 567
price = 49.95
myorder= "I want {} pieces of item{} for {} dollars"
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item567 for 49.95 dollars

### Escape Character

In [1]:
tyt = "we are the so-called \"vikings\" from the north"
print(tyt)

we are the so-called "vikings" from the north