# Notes:

In [ ]:
 class Person:
        def name(self):
            print("name values")
        def address(self):
            print("address")

In [47]:
p1 = Person()

In [48]:
p1.name()

name values

In [7]:
p1.address()

address

In [8]:
a2 = Person()

In [9]:
a2.name()

name values

In [10]:
a2.address()

address

In [34]:
class Person3():
    def set_name(self,name):
        self.name = name
    def set_address(self,address):
        self.address = address
    def show_name(self):
        return self.name
    def show_address(self):
        return self.address

In [35]:
r1 = Person3()

In [36]:
r1.set_name("smruti")

In [37]:
r1.show_name()

'smruti'

In [38]:
r1.set_address("Ahemedabad")

In [39]:
r1.show_address()

'Ahemedabad'

# class/objects

In [43]:
class myclass:
    x = 5

In [44]:
print(myclass)

<class '__main__.myclass'>

In [49]:
p1 = myclass()

In [52]:
print(p1.x)

5

## The __init__() function

In [67]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age    
        
    p1 = Person("john",34)
    
print(p1.name)
print(p1.age)

john
34

In [78]:
class Person1:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def myfunc(self):
        print("Hello , my name is " + self.name)
        
    p3 = Person1("john",34)
    
p3.myfunc()

Hello , my name is john

In [98]:
class Person5:
    def __init__ (mysillyobject,name,age):
        mysillyobject.name = name
        mysillyobject.age = age
    
    def myfunc(abc):
        print("my name is " + abc.name)

w2 = Person5("joseph",28)

w2.age = 26
w2.myfunc()
del w2.age
del w2

my name is joseph

In [99]:
class Person:
    pass

# 9/8/22 [ for 1 parent and 1 child ]

In [1]:
class Student:
    def __init__(self,name,address):
        self.name = name
        self.address = address
        
    def student_info(self):
        print("student name is :", self.name)
        print("student address is :", self.address)
        print("student document")

In [3]:
s1 = Student("tops","maninagar")

In [4]:
s1.student_info()

student name is : tops
student address is : maninagar
student document

In [19]:
class Student2(Student):
    def __init__(self,name,address,fee,result):
        super().__init__(name,address)
        self.fee = fee
        self.result = result
        
    def student_data(self):
        print("student name is :", self.name)
        print("student address is :", self.address)
        print("student fee structure :", self.fee)
        print("student result is :", self.result)
        print("data of student2")

In [20]:
s2 = Student2("Analytics","tops",60000,90)

In [21]:
s2.student_data()

student name is : Analytics
student address is : tops
student fee structure : 60000
student result is : 90
data of student2

## [ For 2 parent and 1 student ]

In [23]:
class Pare1:
    def assign_pare1(self,pare1):
        self.pare1 = pare1
    def show_pare1(self):
        return self.pare1
    
class Pare2:
    def assign_pare2(self,pare2):
        self.pare2 = pare2
    def show_pare2(self):
        return self.pare2

In [33]:
class Child(Pare1,Pare2):
    def assign_chil(self,chil):
        self.chil = chil
    def show_chil(self):
        return self.chil

In [34]:
c1 = Child()

In [35]:
c1.assign_pare1("hello parent1")

In [36]:
c1.show_pare1()

'hello parent1'

In [39]:
c1.assign_pare2("parent2 is there")

In [40]:
c1.show_pare2()

'parent2 is there'

In [41]:
c1.assign_chil("child")

In [ ]:
c1.show_chil()

In [3]:
from tkinter import*
root = Tk()
w = Label(root,width = "40",height= "15")
w.pack()
root.mainloop()

In [2]:
import tkinter as tk
r = tk.Tk()
r.title('Tops Tachnology')
button = tk.Button(r,text='submit',width='20',command=r.destroy)
button.pack()
r.mainloop()