In [1]:
try:
    f = open("demofile.txt")
    try:
        f.write("Lorum Ipsum")
    except:
        print("something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("something went wron when opening the file")

something went wron when opening the file

In [1]:
from builtins import int
while True:
    try:
        n = int(input("Enter the number :"))
        print(n)
        break
    except:
        print("only integers are available")
    finally:
        print("finally called")

Enter the number :hdj
only integers are available
finally called
Enter the number :76
76
finally called

In [5]:
try:
    print(a)
except NameError:
    print("a is not difine")
except:
    print("other problem")
else:
    print("hello user")
finally:
    print("finally block")

a is not difine
finally block

## oops

In [8]:
class person:
    def name(self):
        print("smruti")
    def address(self):
        print("bapunagar")

p1 = person()

p1.name()
p1.address()

smruti
bapunagar

In [25]:
class person1:
    def set_name(self,name):
        self.name = name
    def set_address(self,address):
        self.address = address
    def show_name(self):
        return self.name
    def show_address(self):
        return self.address

In [26]:
q= person1()

q.set_name("robert")

q.show_name()

'robert'

In [27]:
q.set_address("uk")

q.show_address()

'uk'

In [37]:
class place:
    def __init__(self,name,address):
        self.name = name
        self.address = address
    def place_info(self):
        print("place name is :", self.name)
        print("place is in :" , self.address)

In [38]:
s = place("RF","Ahmedabad")

In [39]:
s.place_info()

place name is : RF
place is in : Ahmedabad

In [40]:
class student2(place):
    def __init__(self,name,address,fee,result):
        super(). __init__(name,address)
        self.fee = fee
        self.result = result
        
    def student_data(self):
        print("student name is : " ,self.name)
        print("student address is : " ,self.address)
        print("student fee is : " ,self.fee)
        print("student result is : " ,self.result)

In [43]:
s = student2("raj","surat",60000,90)       
s.student_data()

student name is :  raj
student address is :  surat
student fee is :  60000
student result is :  90

In [54]:
import re
 
var = ("hello today is wednesday")
y = re.search("^hello.*wednesday$",var)

if y :
    print("yes")
else:
    print("no")

no

In [55]:
print(1+2)

print("python "+"programing ")

print(3 * 4)

print("python "*3)

3
python programing
12
python python python

In [56]:
class Sample:
   def __init__(self,a):
       self.a=a
   def __add__(self,b):
       return self.a+b.a

obj1=Sample(5)
obj2=Sample(10)
obj3=Sample("Python")
obj4=Sample("Programming ")

print(obj1+obj2)
print(obj3+obj4)

15
PythonProgramming

In [ ]:
class Point:
   def __init__(self, x,y):
       self.x=x
       self.y=y

   def __str__(self):
       return "({0},{1})".format(self.x,self.y)

   def __add__(self,other):
       x=self.x + other.x
       y=self.y + other.y
       return Point(x,y)

p1=Point(10,20)
p2=Point(5,4)
print("Addition of two points ",p1+p2)

In [5]:
x = "yes"
y = "it"
z = "is"
print(x,y,z)

yes it is

In [12]:
print("python","is","fantastic",sep=" ")

python is fantastic

In [5]:
import random

print(random.randrange(1,10))

7

In [7]:
import random

print(random.random())

print(random.random())

print(random.setstate(state))

print(random.random())

0.3509002190784113
0.8533384190868103
None
0.6949573106318065

In [17]:
t = "hello*world!"
print(t.split("*"))

['hello', 'world!']

In [6]:
x = "hello, world!"
print(x.capitalize())

Hello, world!

In [11]:
print(x.center(20,"*"))

***hello, world!****

In [12]:
print(x.count("l"))

3

In [13]:
print(x.endswith("d!"))

True

In [26]:
print(x.isalnum())

False

In [25]:
num = [1,2,3,2,4,3,5,6,4]

def unique_num(num):
    
    unique_number = []
    
    for number in num:
        if number in unique_number:
            continue
        else:
            unique_number.append(number)
    return unique_number

print(unique_num(num))

[1, 2, 3, 4, 5, 6]

In [23]:
numbers = [20, 20, 30, 30, 40]


def get_unique_numbers(numbers):
    unique = []

    for number in numbers:
        if number in unique:
            continue
        else:
            unique.append(number)
    return unique


print(get_unique_numbers(numbers))
# Result: [20, 30, 40]

[20, 30, 40]

In [27]:
t = "102444"
print(t.isdigit())

True

In [28]:
print(t.isdecimal())

True

In [16]:
txt = "this is so good"

mytable = txt.maketrans("s", "P")

print(txt.translate(mytable))

thiP iP Po good

In [17]:
txt = "Hello Sam!"

mytable = txt.maketrans("S", "P","hl")

print(txt.translate(mytable))

Heo Pam!

In [18]:
r = "jhund banake chalo"
u = r.maketrans("a","o","hb")
print(r.translate(u))

jund onoke colo