In [2]:
a,b,c = ("tell","hit","let")
print(a)
print(b)
print(c)

tellhitlet
hit
let

In [13]:
x = "awesome"

def myfun():
    global x
    x = "fantastic"
    print("python is : " + x)
    
myfun()

python is : fantastic

In [11]:
y = "good"
print(x,y)

awesome good

In [14]:
x = "False"
print(type(x))

<class 'str'>

In [18]:
xs = ("good")
(print(list(xs)))

['g', 'o', 'o', 'd']

In [21]:
cs = ("45")
print(float(cs))

45.0

In [33]:
x = 32/4
print(int(x))

8

In [35]:
print(xs[3])

d

In [49]:
p = "this is python"
print(p.upper())

THIS IS PYTHON

In [42]:
print(p.lower())

this is python

In [41]:
print(p.strip())

this is python

In [44]:
print(p.replace(" ",","))

,,,this,is,python,,

In [45]:
print(p.split())

['this', 'is', 'python']

In [51]:
print(p.split(","))

['this is python']

In [99]:
d = ("he8llo8 h8ey8 hi")
print(d.split(","))

['he8llo8 h8ey8 hi']

In [65]:
num=1721
year=2002
this=8734987
t = ("my number {2}and i am {0} th {1}")
print(t.format(num,year,this))

my number 8734987and i am 1721 th 2002

In [89]:
dd = ("hello hey \rhi")
print(dd)

hi

In [100]:
print(d.center(20,"s"))
print(len(d))
print(d.count("8",2,7))

sshe8llo8 h8ey8 hiss
16
2

In [1]:
txt = "high and low"
maket = txt.maketrans("h","u")

print(txt.translate(maket))

uigu and low

In [11]:
tyt = " this is"
x = tyt.ljust(20,"o")
print(x + "banana")

 this isoooooooooooobanana

In [2]:
s = [ 1,4,3,5,2]
print(s[-4:-1])

[4, 3, 5]

In [7]:
print(1 in s)

True

In [1]:
from tkinter import*
root = Tk()
w = Label(root,width = "40",height= "15")
w.pack()
root.mainloop()

In [12]:
print("python","programing" ,sep = " : ")

python : programing

In [4]:
print("python")
print("programing")

python
programing

In [ ]:
s = 5
g = 3
print(s//g)

In [6]:
from collections import deque
l= deque(['apple','banana','mango',])
print(l)

deque(['apple', 'banana', 'mango'])

In [16]:
for x in l:
    print(x,end="*")

apple*banana*mango*

In [17]:
a = []
for x in range(10):
    a.append(x**2)
    print(a)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
print(max(a))
print(min(a))

81
0

In [20]:
b = [10,20,30,40]
a.extend(b)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40]

In [21]:
a.insert(0,3)
print(a)

[3, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 20, 30, 40]

In [24]:
print(a.count(0))

1

In [34]:
for i in range(0,10):
    print(' $$ $'*i)

 $$ $
 $$ $ $$ $
 $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $
 $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $ $$ $

In [35]:
r = [30,90,20]
print(list(seq))

NameError: name 'seq' is not defined

In [38]:
q=[1,2,3,4,5]
print(q) 
q.append(6)
print(q)
print(q.pop())

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
6

In [42]:
tup = ('a','b','c')
str = '$'.join(tup)
print(str)

a$b$c

In [15]:
print("my name is","smruti",sep="*")

my name is*smruti

In [8]:
a_n = ["swift","fortuner"]
p_n = ["baleno","verna"]
a_n.extend(p_n)
print(a_n)

['swift', 'fortuner', 'baleno', 'verna']

In [9]:
a_n.reverse()
print(a_n)

['verna', 'baleno', 'fortuner', 'swift']

In [19]:
rt = [3,4,2,7,1,6,5,8,3]
rt.sort()

print(rt)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [25]:
v = ['van','fun']
print(v)

['van', 'fun']

In [27]:
v.sort()
print(v)

['fun', 'van']

In [28]:
v.remove('fun')
print(v)

['van']

In [8]:
dic = {"color" :"red","car":"verna"}
dic1 = {"time" : "pm", "way" : "ringroad"}

dic.update(dic1)
print(dic)

{'color': 'red', 'car': 'verna', 'time': 'pm', 'way': 'ringroad'}

In [9]:
age = int(input("ENTER THE NUMBER : "))

if age % 2 :
    print("{} is even number".format(age))
    
else :
    print("{} is even number".format(age))

ENTER THE NUMBER : 69
69 is even number

In [15]:
y = {"apple","banana","cherry"}
for x in y :
    print("THE FRUIT IS :"+x)

THE FRUIT IS :cherry
THE FRUIT IS :apple
THE FRUIT IS :banana

In [16]:
for name in "python":
    print(name)

for name in "programing":
    print(name,end=" ")

p
y
t
h
o
n
p r o g r a m i n g

In [17]:
lang=['C','C++','JAVA']

for item in lang:
    print(item)

C
C++
JAVA

In [18]:
lang=["python","Java"]
feature=["Advance","Popular"]

for a in lang:
    for b in feature:
        print(a,b)

python Advance
python Popular
Java Advance
Java Popular

In [30]:
for a in range(1,6):
    for a in range(1,6):
    
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [35]:
for u in range(1,6):
    for p in range(u):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [33]:
for i in range(1,6):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
for i in range(1, 6):
   for j in range(65, 65+i):
       a = chr(j)
       print(a,end="")
   print()
    
for o in range(6):
    print(o)

A
AB
ABC
ABCD
ABCDE
0
1
2
3
4
5

In [9]:
for i in range(6):
    for j in range(i): 

        print(i)

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

In [16]:
cre = list(range(3,31,3))
print(cre)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [23]:
i = 1
while i < 6 :
    print(i)
    i += 1

1
2
3
4
5

In [1]:
i = 1 
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [14]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [17]:
for u in range(1,6)
    print(u)
    if u == 3:
        break

1
2
3

In [19]:
t = int(input("the number is : "))
if t > 15:
    pass
else:
    print("Not allow")

the number is : 18

In [20]:
def myfun(fname):
    print(fname,"st")

myfun("will")
myfun("el")
myfun("mike")

will st
el st
mike st

In [27]:
def fun(*na):
    print(na[2],"is this")
    
fun("tina","mina","shina")

shina is this

In [30]:
def ar(lucas,mike,joseph):
    print("partner is " + lucas)
    
ar(lucas="max",mike="el",joseph="nency")

partner is max

In [35]:
def th(**he):
    print("he reached to",he["school"])
    
th(home="ahmedabad",hospital="genral",school="axay")

he reached to axay

In [36]:
def d(country="india"):
    print("i am from "+ country)
d("chin")
d("uk")
d()
d("bhutan")

i am from chin
i am from uk
i am from india
i am from la

In [51]:
def f(food):
    
        print("i am eating",food)
    
fruits = ["cherry","mango","kiwi"]
f(fruits)

i am eating ['cherry', 'mango', 'kiwi']

In [43]:
def p(i):
    return 5*i
print(p(9))
print(p(14))
print(p(24))

45
70
120

In [49]:
def concat(*args,sep="/"):
    return sep.join(args[0:3])

concat("earth","mars","venus")

'earth/mars/venus'

In [52]:
def  student(id,name="-"):
   print("student id is : ",id)
   print("student name is : ",name)

id=int(input("Enter id : "))   
name=input("Enter your name : ")

student(id)

Enter id : 65
Enter your name : rashmi
student id is :  65
student name is :  -

In [53]:
def sum(a,b):
    return a+b

sum(45,10)

55

In [55]:
a = int(input("value of a is :"))
b = int(input("value of a is :"))
sum(a,b)

value of a is :64
value of a is :67

131

In [58]:
def tuplelist(a,*tup):

   for a in tup:
       print(a)


tuplelist(1,5,85,66)

5
85
66

In [59]:
def student(**dict):

   for key,value in dict.items():
       print(key,value)

student(name="Anjali",marks=99)

name Anjali
marks 99

In [63]:
def myfu(n):
    return lambda a: a*n

mydubler = myfu(2)
mytripler = myfu(3)

print(mydubler(11))
print(mytripler(12))

22
36

In [64]:
def myfun():
       global name
       print("1st ",name)
       name="Python Language"
       print("2nd ",name)

name="Python"

myfun()

print("3rd ",name)

1st  Python
2nd  Python Language
3rd  Python Language

In [11]:
f = open("MF.txt","a")
f.write(" i am adding more content \nusing append \nusing append\nusing append")
f.close()

In [20]:
f = open("MF.txt","r")
print(f.read())
print(f.tell())
print(f.seek(3))
f.close()

 i am adding more content  i am adding more content
using append
using append
using append
95
3

In [9]:
f = open("MF.txt","w")
f.write(" i am adding more content ")
f.close()

In [34]:
f = open("MF.txt","r")
for x in f:
    print(x)
f.close()

 i am adding more content

 ffkd;;;jflkJFLK

 KDSJFHLKDJFAFLKAF

 SKDFKLJDKJ;D

 DLSFLMVM,ZXMCVKL

In [42]:
f.close()

In [1]:
import os 
os.remove("MF.txt")

In [8]:
import os
if os.path.exists("MF.txt"):
  os.remove("MF.txt")
else:
  print("The file does not exist")

The file does not exist

In [21]:
file = open("test.txt","w")
file.write("Hello\n")
file.write("Welcome to file management program")
file.close
file = open("test.txt","r")
str=file.readline()
print(str)
a=file.tell()
print(a)
str=file.read()
print(str)

Hello

7
Welcome to file management program

In [2]:
try:
    print(x)
except:
    print("variable does not exist")
finally:
    print("the try and except is finished")

variable does not exist
the try and except is finished

In [9]:
x = -1

if x<0:
    raise Exception(" no numbers below zero")

Exception:  no numbers below zero

In [7]:
x =("hello world")

if not type(x) is int:
    raise TypeError("only integers allowed")

TypeError: only integers allowed