## TUPLE

In [1]:
mytuple = ("apple","banana","cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [2]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple","banana","cherry","apple",'cherry')
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [5]:
thistuple = ("apple","banana","cherry")
print(len(thistuple))

3

In [7]:
thistuple = ('apple',)
print(type(thistuple))

thistuple = ('apple')
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Data Types

In [9]:
tuple1 = ('apple','banana','cherry')
tuple2 = (3,5,7,8,9)
tuple3 = (True,False,False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(3, 5, 7, 8, 9)
(True, False, False)

In [10]:
tuple1 = ('abc',34,True,40,'male')
print(tuple1)

('abc', 34, True, 40, 'male')

In [11]:
mytuple = ("apple","banana","cherry")
print(type(mytuple))

<class 'tuple'>

In [13]:
mytuple = tuple(("apple","banana","cherry"))
print(mytuple)

('apple', 'banana', 'cherry')

In [14]:
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

In [15]:
thistuple = ("apple","banana","cherry")
print(thistuple[-1])

cherry

In [16]:
thistuple = ("apple","banana","cherry",'orange','kiwi','melon','mango')
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [17]:
thistuple = ("apple","banana","cherry",'orange','kiwi','melon','mango')
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple = ("apple","banana","cherry",'orange','kiwi','melon','mango')
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [19]:
thistuple = ("apple","banana","cherry",'orange','kiwi','melon','mango')
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [22]:
thistuple = ("apple","banana","cherry")
if 'apple' in thistuple:
    print("yes, 'apple' is in the fruits tuple")

yes, 'apple' is in the fruits tuple

## Update

In [23]:
x = ("apple","banana","cherry")
y = list(x)
y[1] = 'kiwi'
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [26]:
thistuple = ("apple","banana","cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [27]:
thistuple = ('apple','banana','cherry')
y = ('orange',)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [2]:
thistuple = ('apple','banana','cherry')
y = list(thistuple)
y.remove('banana')
thistuple = tuple(y)
print(thistuple)

('apple', 'cherry')

In [ ]:
thistuple = ('apple','banana','cherry')
del thistuple
print(thistuple)

## Unpack

In [5]:
fruits =  ('apple','banana','cherry')
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [10]:
fruits =  ('apple','banana','cherry','strawberry','raspberry')
(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [13]:
fruits = ('apple','banana','mango','papaya','pineapple','cherry')
(green,*tropic,red)= fruits
print(green)
print(tropic)
print(red)

apple
['banana', 'mango', 'papaya', 'pineapple']
cherry

## Loop Tuples

In [14]:
thistuple = ('apple','banana','cherry')
for s in thistuple :
    print(s)

apple
banana
cherry

In [22]:
thistuple = ('apple','banana','cherry')
for i in range(len(thistuple)) :
    print(thistuple[i])

apple
banana
cherry

In [23]:
thistuple = ('apple','banana','cherry')
i = 0
while i<len(thistuple):
    print(thistuple[i])
    i = i+1

apple
banana
cherry

## join

In [24]:
tuple1 = ('a','b','c')
tuple2 = (1,2,3)

tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

In [25]:
fruits = ('apple','banana','cherry')
mytuple = fruits*2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# SETS

In [29]:
myset = {"apple","banana","cherry"}
print(myset)

mset = {"apple","banana","cherry","apple"}
print(mset)

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana'}

In [31]:
thisset = {"apple","banana","cherry"}
print(len(thisset))

3

### Data Types

In [34]:
set1 = {"apple","banana","cherry"}
set2 = {1,5,7,9,3}
set3 = {True,False,False}
print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [36]:
set1 = {"abc","34",True,40,"male"}
print(set1)

{True, 'male', '34', 40, 'abc'}

In [42]:
myset = {"apple","banana","cherry"}
print(type(myset))

<class 'set'>

In [43]:
myset = set(("apple","banana","cherry"))
print(myset)

{'cherry', 'banana', 'apple'}

In [49]:
myset = {"apple","banana","cherry"}

for x in myset:
    print(x)

cherry
apple
banana

In [55]:
myset = {"apple","banana","cherry"}
print( "banana" in myset )

True

### Add Set Items

In [60]:
myset = {"apple","banana","cherry"}
myset.add("orange")
print(myset)

{'orange', 'cherry', 'apple', 'banana'}

In [61]:
myset = {"apple","banana","cherry"}
tropical = {"pineapple","mango",'papaya'}
myset.update(tropical)
print(myset)

{'papaya', 'cherry', 'banana', 'mango', 'pineapple', 'apple'}

In [63]:
thisset = {"apple",'banana','cherry'}
mylist = ['kiwi','orange']
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'apple', 'banana', 'orange'}

In [69]:
myset = {"apple","banana","cherry"}
myset.remove("banana")
print(myset)

{'cherry', 'apple'}

In [67]:
myset = {"apple","banana","cherry"}
myset.discard("banana")
print(myset)

{'cherry', 'apple'}

In [72]:
myset = {"apple","banana","cherry"}
x=myset.pop()
print(x)
print(myset)

cherry
{'apple', 'banana'}

In [74]:
myset = {"apple","banana","cherry"}
myset.clear()
print(myset)

set()

In [75]:
myset = {"apple","banana","cherry"}
del myset
print(myset)

NameError: name 'myset' is not defined

### Loop

In [78]:
myset = {"apple","banana","cherry"}
for x in myset:
    
    print(x)

cherry
apple
banana

In [85]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'b', 'c', 1, 2, 3, 'a'}

In [84]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{'b', 'c', 1, 2, 3, 'a'}

In [86]:
x = {'a','b','c'}
y = {'c','d','e'}
x.intersection_update(y)
print(x)

{'c'}

In [90]:
x = {'a','b','c'}
y = {'c','d','e'}
z = x.intersection(y)
print(z)

{'c'}

In [91]:
x = {'a','b','c'}
y = {'c','d','e'}
x.symmetric_difference_update(y)
print(x)

{'b', 'd', 'a', 'e'}

In [93]:
x = {'a','b','c'}
y = {'c','d','e'}
z = x.symmetric_difference(y)
print(z)

{'b', 'd', 'a', 'e'}

# Dictionaries

In [12]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [3]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
print(thisdict['brand'])

ford

In [5]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964,
    'year' : 2020
}
print(thisdict)

{'brand': 'ford', 'moel': 'Mustang', 'year': 2020}

In [6]:
print(len(thisdict))

3

In [7]:
thisdict = {
    "brand" : "ford",
    'electric':False,
    'year' : 1964,
    'colors' : ['red','white','blue']
}
print(thisdict)

{'brand': 'ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [8]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
print(type(thisdict))

<class 'dict'>

## Access Dictionary Items

In [11]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = thisdict['model']
print(x)

Mustang

In [15]:
x = thisdict.get("model")
print(x)

Mustang

In [17]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [19]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.keys()
print(x)
car["color"] = 'white'
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [21]:
x = thisdict.values()
print(x)

dict_values(['ford', 'Mustang', 1964])

In [29]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.values()
print(x)
car['year'] =2020
print(x)

dict_values(['ford', 'Mustang', 1964])
dict_values(['ford', 'Mustang', 2020])

In [23]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.values()
print(x)
car["color"] = 'red'
print(x)

dict_values(['ford', 'Mustang', 1964])
dict_values(['ford', 'Mustang', 1964, 'red'])

In [24]:
x = thisdict.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])

In [27]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.items()
print(x)
car["year"] = 2020
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 2020)])

In [30]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.items()
print(x)
car["color"] = 'red'
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [32]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
if 'model' in thisdict :
    print("yes, 'model' is one of the keys in the thisdict dictionary")

yes, 'model' is one of the keys in the thisdict dictionary

## Change Dictionary Items

In [34]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict['year'] = 2018
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 2018}

In [40]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict.update({'year' : 2020})
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 2020}

## Adding Items

In [41]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict['color'] = 'red'
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [42]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict.update({'color' : 'red'})
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Removing Items

In [43]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict.pop('model')
print(thisdict)

{'brand': 'ford', 'year': 1964}

In [44]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'ford', 'model': 'Mustang'}

In [45]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
del thisdict['model']
print(thisdict)

{'brand': 'ford', 'year': 1964}

In [47]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
thisdict.clear()
print(thisdict)

{}

## Loop Dictionaries

In [50]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
for x in thisdict:
    print(x)

brand
model
year

In [51]:
for x in thisdict:
    print(thisdict[x])

ford
Mustang
1964

In [52]:
for x in thisdict.values():
    print(x)

ford
Mustang
1964

In [53]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [54]:
for x,y in thisdict.items():
    print(x,y)

brand ford
model Mustang
year 1964

## Copy Dictionaries

In [55]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [56]:
thisdict = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [58]:
myfamily = {
    'child1' : {
        'name':'Email',
        'year':2004
    },
    'child2' : {
        'name':'Tobias',
        'year': 2007
    },
    'child3' : {
        'name':'Linus',
        'year':2011
    }
}
print(myfamily)

{'child1': {'name': 'Email', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [59]:
child1 = {
    'name':'Email',
    'year':2004
}
child2 = {
    'name':'Tobias',
    'year': 2007
}
child3 = {
    'name':'Linus',
    'year':2011
}

myfamily = {
    'child1' : child1,
    'child2' : child2,
    'child3' : child3
}
print(myfamily)

{'child1': {'name': 'Email', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

## Fromkeys

In [60]:
x = {'key1','key2','key3'}
y = 0
thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key3': 0, 'key2': 0, 'key1': 0}

## Setdefault

In [61]:
car = {
    "brand" : "ford",
    'model' : 'Mustang',
    'year' : 1964
}
x = car.setdefault('model','bronco')
print(x)

Mustang